.testimonial {
    margin-bottom: 98px;
    padding: 0 18px 1px 18px;
    background-color: rgba(255, 255, 255, 0.8);

    &--last {
        margin-bottom: 0;
    }

    @mixin atLarge {
        margin-bottom: 0;
        padding: 0 1.8125rem 1px 1.8125rem;
    }

    &__photo {
        position: relative;
        top: -80px;
        margin: 0 auto -80px auto;
        border-radius: 80px;
        border: 6px solid rgba(255, 255, 255, 0.8);
        overflow: hidden;
        width: 160px;
        height: 160px;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: $mainBlue;
    }

    &__subtitle {
        margin: 0.25rem 0 1rem 0;
        font-size: 0.9375rem;
        font-weight: 400;
        color: $mainOrange;
    }
}